
:root {
  --menu-background: #B82601;
  --menu-btn: #fff;
  --menu-btn-hover: #a5a5a5;
  --menu-text: #a5a5a5;
  --menu-text-hover: #fff;
}

html, body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.landing{
  width: 100%;
  height: 100%;
  background: url(../Images/landing.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: table;
}


.summary{
  margin-top: 2rem;
  text-align: center;
  color: white;
}

#name{
  font-size: 4rem;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 0.5rem;
}

#about{
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
}
.nav-btn{
  position: absolute;
  top: 2rem;
  left: 4rem;
}

#close-nav-btn{
  color: var(--menu-text);
  font-size: 3rem;
}

#close-nav-btn:hover{
  color: var(--menu-text-hover);
  cursor: pointer
}

#open-nav-btn{
  color: var(--menu-btn);
  font-size: 3rem;
}

#open-nav-btn:hover{
  color: var(--menu-btn-hover);
  cursor: pointer;
}

.menu{
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--menu-background);
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-content{
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  margin-left: 4rem;
}

.menu-content a {
  padding-left: 0.25rem;
  text-decoration: none;
  font-size: 3rem;
  color: var(--menu-text);
  display: block; 
  transition: 0.3s;
}

.menu-content a:hover, .menu-content a:focus {
  color: var(--menu-text-hover);
  cursor: pointer;
}
