@import url('https://fonts.googleapis.come/css?family=Raleway');
@import url('https://fonts.googleapis.come/css?family=Oswald');

:root {
  --background: #062f4f;
  --section-background: #fff;
  --nav-background: rgba(0,0,0,0.85);
  --intro-text: #FFF;
  --menu-text: #FFF;
  --menu-text-highlight: #B82601;
}

html, body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
}

.nav-colored {
  background-color: var(--nav-background);
}
.nav-transparent {background-color: transparent;}

.navbar a {
  float: right;
  text-decoration: none;
  color: var(--menu-text);
  display: block;
  text-align: center;
  margin: 14px;
  font-size: 24px;
}

.navbar .navBtn {
  border-bottom: 2px solid var(--menu-text);
}

.navbar .navBtn:hover {
  color: var(--menu-text-highlight);
  border-bottom: 3px solid var(--menu-text-highlight);
  cursor: pointer;
}

.active {
  border-bottom: 3px solid var(--menu-text-highlight) !important;
}

.navbar #name {
  font-size: 32px;
  color: var(--menu-text-highlight);
  float: left;
}

.navbar #name:hover{
  cursor: pointer;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(../Images/landing.jpg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 700px;
  padding-bottom: 100px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  text-align: center;
  color: var(--intro-text);
  font-size: 24px;
}

section {
  background: var(--background);
  padding: 16px;
}

.section-inner {
  background: var(--section-background);
  margin: 16px;
  font-size: 20px;
  padding: 16px;
}
