@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");

:root{
  --site-bg-color: #C0B3A0;
  --section-bg-color: #222F2C;
  --section-text-color: #e5e5e5;
  --accent-bg-color: #3F3250;
  --accent-text-color: #fff;
  --accent-color: #F3002B;
}

html, body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  padding-left: 8px;
  padding-right: 8px;
}

.contact i:hover{
  color: var(--accent-color);
}

.nav-bar {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 36px;
  width: 100%;
  background-color: transparent;
  display: block;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.site-title {
  padding-left: 24px; 
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 36px;
  text-align: left;
}

.menu-buttons {
  margin: 0;
  min-height: 100%;
  display: block;
  float: right;
  text-align: right;
  padding: 0;
}

.menu-buttons ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  margin: 0;
  padding: 0;
}

.menu-buttons li a {
  float: right;
  display: block;
  text-align: center;
  height: 100%;
  font-size: 24px;
  color: var(--accent-text-color);
  font-family: Raleway;
  margin-right:24px;
  border-bottom: 2px solid var(--accent-text-color);
}

.menu-buttons a:hover {
  color: var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
}

.menu-buttons .active{
  border-bottom: 3px solid var(--accent-color) !important;
}

.landing {
  height: 100%;
  width: 100%;
  background-image: url(../Images/tents.jpg);
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

.link{
  font-weight: bold;
  text-decoration: underline;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .greeting {
    display: block;
    position: relative;
    top: 16vh;
  }

  .div-image {
    margin: auto;
    display: block;
    width: 50vw;
    margin-top: 20px;
  }
  
  .div-text {
    display: block;
    font-size: 20px;
    color: white;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1050px) {
  .greeting {
    display: block;
    position: relative;
    top: 12vh;
  }

  .div-image {
    margin: auto;
    display: block;
    align-self: center;
    width: 50vw;
    margin-top: 20px;
  }
  
  .div-text {
    display: block;
    font-size: 3vw;
    color: white;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1050px) {
  .greeting {
    display: block;
    position: relative;
    top: 17vh;
  }

  .div-image {
    display: inline-block;
    width: 35%;
    margin-top: 20px;
  }
  
  .div-text {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-size: 20px;
    color: white;
  }
}

.name {
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.education {
  display: inline-block;
  font-size: 35px;
  max-width: 700px;
  padding: 0;
  margin: 0;
}

.contact {
  position: absolute;
  bottom: 0;
  font-size: 35px;
  padding: 8px;
  margin: 0;
  float: bottom;
  text-align: right;
}

.section-container {
  min-height: 100vh;
}

.project {
  padding: 32px;
}

#key-chain {
  background-color: #FF3841
}

#study-app {
  background-color: #66674F;
}

#donkey-car {
  background-color: #385767;
}

h1 {
  color: black;
  margin: 0;
}

p {
  padding: 0px 16px;
  letter-spacing: 1.4px;
}

.anchor{
  display:block;
  height:44px; /* this is the height of your header */
  margin-top:-44px; /* this is again negative value of the height of your header */
  visibility:hidden;
}
